<header id="order_header">

</header>
	
<div class="container">
	<h3>All orders</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Products</th>
			<th>Total</th>
			<th>User</th>
			<th>Date</th>
			<th></th>

		</tr>
	</thead>

	<% @orders.each do |order| %>
		<tr>
			<td><%= order.id%></td>
			<td>
				<ul>
					<% order.order_items.each do |item| %>
						<li>
							<%= item.quantity %>
							<%= item.product.name %>
						</li>
					<% end %>
				</ul>
			</td>
			<td>
				<%= number_to_currency order.total_price %>
			</td>
			<td>
				
					<strong><%= order.user.name %></strong>

					<br>
					<%= simple_format order.user.full_address %>
			</td>
			<td>
				<p><%= time_ago_in_words order.created_at %></p>
				<p class="text-muted"><%=order.created_at.strftime "%b %d, %Y - %H:%M" %></p>
			</td>

			<td><%= form_for order do |f| %>
					<%= f.select :state, Order::STATES %>
				<% end %>	
			</td>


		</tr>
		<% end %>
</table>
</div>

<script type="text/javascript">
	$(function() {

		$("form select").on("change", function(){
			$(this).parent("form").submit();
		});
	});


</script>