<div class="row product_top">
<div class="container">
<table class="table table-hover">

	<thead>
		<tr>
			<th>Quantity</th>
			<th>Product</th>
			<th>Price</th>

		</tr>

	</thead>
<% @cart.items.each do |item| %>

	<tr>
	<td><%= item.quantity %></td>
	<td><%= image_tag item.product.image.thumb %><%= link_to item.product.name, item.product %></td>
	<td><%= item.total_price %></td>
	  <td><%= link_to 'remove', remove_cart_path(item.product_id), method: :delete %></td>	
	</tr>
<% end %>

</table>
<h4>Total price:</h4>
<p><%= number_to_currency @cart.total_price %></p> 

<p> <%= link_to "Checkout", checkout_cart_path, class: "btn btn primary" %> </p>

</div>
</div>