<div class="container">
<div class="row product_top">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Designer</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Image</th>
      
    </tr>
  </thead>

<tbody>
  <% @products.each do |product| %>
    
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= product.description %></td>
        <td><%= product.designer.designer_name %></td>

        <td><%= number_to_currency product.price %></td>
        <td><%= product.stock_quantity %></td>

        <td><%= image_tag product.image.thumb %></td>
      
 
  <% end %>
  </tr>
</tbody>
</table>
</div>
</div>