<!DOCTYPE html>
<html>
  <head>
    <title>ShopWithoutRedis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'navbar' %>
      <p class="notice"><%= notice %>
      <p class="alert"><%= alert %>
      <%= render 'login' %>
      <%= yield %>
      <%= render 'notifications' %>
      <%= render 'footer' %>
    </div>
  </body>
</html>
